@font-face {
  font-family: "iconfont"; /* Project id 3464754 */
  src: url('iconfont.woff2?t=1656035651767') format('woff2'),
       url('iconfont.woff?t=1656035651767') format('woff'),
       url('iconfont.ttf?t=1656035651767') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuangjiangongzuo:before {
  content: "\e688";
}

.icon-icon_3-10:before {
  content: "\e6ce";
}

.icon-daiqueren:before {
  content: "\e6a5";
}

.icon-edit:before {
  content: "\e637";
}

.icon-wenbenbianjitianchong:before {
  content: "\e6d4";
}

.icon-shujuhuizong:before {
  content: "\e686";
}

.icon-xinjianfangan:before {
  content: "\e62b";
}

.icon-jiejuefangan:before {
  content: "\e6c2";
}

.icon-huiyishi:before {
  content: "\e6dc";
}

.icon-xiazai1:before {
  content: "\e624";
}

.icon-shipin:before {
  content: "\e64a";
}

.icon-wenjianshangchuan:before {
  content: "\e616";
}

.icon-jieshu:before {
  content: "\e6ec";
}

.icon-changyonggoupiaorenshanchu:before {
  content: "\e645";
}

.icon-shouye:before {
  content: "\e607";
}

.icon-shaixuan:before {
  content: "\e611";
}

.icon-tianjia:before {
  content: "\e60f";
}

.icon-toupiaoguanli:before {
  content: "\e638";
}

.icon-gerenzhongxin:before {
  content: "\e6a4";
}

.icon-xiazai-wenjianxiazai-04:before {
  content: "\e855";
}

.icon-toupiao:before {
  content: "\e60e";
}

.icon-yijianxiang:before {
  content: "\e689";
}

.icon-icon_lingyongqueren:before {
  content: "\e627";
}

.icon-huiyiguanli_1:before {
  content: "\e7b1";
}

.icon-huiyiyititibao:before {
  content: "\e60b";
}

.icon-yuyin2:before {
  content: "\e681";
}

.icon-xingzhuang:before {
  content: "\e756";
}

.icon-guaduan:before {
  content: "\e6ad";
}

.icon-faqishenpi:before {
  content: "\e6d8";
}

.icon-shipinzixun:before {
  content: "\e67c";
}

.icon-xiazai:before {
  content: "\e603";
}

.icon-zuoduiqi:before {
  content: "\e7e3";
}

.icon-shangchuan:before {
  content: "\e64c";
}

.icon-baocun:before {
  content: "\e6fe";
}

.icon-jurassic_VerFensan-align:before {
  content: "\e70f";
}

.icon-chexiao:before {
  content: "\e601";
}

.icon-jiacu:before {
  content: "\e610";
}

.icon-31xiala:before {
  content: "\e600";
}

.icon-guanlian:before {
  content: "\e69f";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-case:before {
  content: "\e6c5";
}

.icon-zitiyanse:before {
  content: "\ec85";
}

.icon-dagou:before {
  content: "\e602";
}

.icon-guanbi1:before {
  content: "\e723";
}

.icon-xiala:before {
  content: "\e608";
}

